<!DOCTYPE html>
<html>
	<head>
	 <!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	 <!-- jQuery library -->
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	 <!-- Latest compiled JavaScript -->
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	 
	 <!-- Some fonts -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	 <!-- Custom CSS -->
	 <link rel="stylesheet" href="/static/css/style.css">
	 
	 <!-- PJAX Script -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"> </script>

	<title>
		{% block title %}{% endblock %}
	</title>

	{% block head_scripts %}{% endblock %}
	</head>
	<body>
		<div class="container nav">
				<span class="logo">
						 WAT?
				</span>
				<span class="nav-links">
					<a>Licence</a>
					<a>About</a>
				</span>
		</div>
		<div class="go-to-top-bubble">
				<i class="fa fa-arrow-up" aria-hidden="true"></i>
		</div>
		{% block body %}{% endblock %}
		{% block body_scripts %}{% endblock %}
		<script>
			// enable/disable bubble based on scroll position
			$(function () {
				var $win = $(window);
				$win.scroll(function () {
					if ($win.scrollTop() == 0){
						$(".go-to-top-bubble").hide();
					} else {
						$(".go-to-top-bubble").show();
					}
				});
			});

			// scroll to top when bubble is clicked
			$('.go-to-top-bubble').click(function(){
				$("html").animate({ scrollTop: 0 }, 500);
				return false;
			});
		</script>
	</body>
</html>
