<div class="result-stats">
		{% if hit_count %}
		<span id="results-found"> Found <span id="result-count"> {{ hit_count }} </span>results </span>
		{% else %}
		<span id="no-results-found" style="display: none;" > No results found </span>
		{% endif %}
		<span> for "<i>{{search_term}}</i>". </span>
</div>

{% for item in search_result %}
<div class="result-item"> 
		<div class="result-reference">
				<b> Play: </b> {{ item["play_name"] }}, 
				<b> Speaker: </b> {% if item["speaker"] %} {{item["speaker"]}} {% else %} -- {% endif %}
		</div>
		<div class="result-text">
				<b> Line: </b> {{ item["text_entry"] }}
		</div>
</div>
{% endfor %}
<div id="more-results"> </div>
