{% extends "base.html" %}

{% block head %}

{% block title %} 
Shakespeare Search 
{% endblock %}

{% endblock %}

{% block body %}
<div class="container">
		<div class="poster">
				<span class="poster-text">Where art thou ?</span>
				<img src="/static/assets/shakespeare.jpg">
		</div>
		<div class="search">
				<div class="input-bar">
						<form id="search-form">
								<input id="search-text" type="text" placeholder="{{search_term}}" autocomplete="off"/>
						</form>
						<i id="search-icon" class='glyphicon glyphicon-search search-icon'></i>
				</div>
		</div>
		<div class="results" id="results">
				{% include "index-pjax.html" %}
		</div>
		{% block body_scripts %}
		<script src="/static/js/search.js"></script> 
		{% endblock %}
</div>
{% endblock %}
