.container{
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.go-to-top-bubble{
	position: fixed;
	width: 50px;
	height: 50px;
	padding: 15px;
	top: calc(100%/2);
	right: 10px;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 50%;
	cursor: pointer;

	i{
		font-size: 18px;
		color: grey;
	}
}

.nav{
	position: fixed;
	padding: 10px 30px;
	background-color: white;
	border-bottom: 1px solid lightgrey;
}

.nav-links{
	float: right;
	a{
		cursor: pointer;
		margin-left: 15px;
	}
}
.logo{
	float: left;
	color: grey;
	font-weight: 600;
}

.poster{
	margin-top: 100px;
	text-align: center;

	.poster-text{
		font-size: 35px;
		font-weight: 300;
		margin: 0 20px 0 0;
	}

	img{
		width: 55px;
		border-radius: 50%;
		margin-top: -20px;
	}
}

.search{
	margin-top: 30px;

	.input-bar{
		width: 300px;
		border: 1px solid grey;
		margin-left: auto;
		margin-right: auto;
		padding: 3px 7px;
		border-radius: 5px;
		
		.search-icon{
			cursor: pointer;
		}

		form{
			width: calc(100% - 20px);
			display: inline;
		}

		input{				
			border:none; 
			background: transparent; 
			outline: 0;
			cursor: text;
			width: inherit;
		}
	}
}


.results{

	margin: 10px auto 0 auto;
	width: 600px;
	text-align: left;

	.result-stats{
		margin-bottom: 50px;
		text-align: center;
		font-size: 12px;
		color: grey;
	}

	.result-item{
		margin-bottom: 20px;
		padding: 10px 0 10px 20px;
		border-bottom: 1px solid lightgrey;
		box-shadow: 5px 5px 3px lightgrey;
	}
}
